<section id="home-component">
  <section class="users-into">
    <div class="title">
      <hr><h1>Step 1 ( <b class="accent">Add Users</b> )</h1><hr>
    </div>
    <mat-card class="instructions">
      <div class="text mat-app-background">
        <h4>For step one we need to <a href="#/users">create users</a> and add them to the blockchain. Give the user a name and age. Add as many users as you like.
         In the real world this would be the equivalent to registering on a stock or crypto currency exchange. </h4>
        <br>
        <h4 class="dim"><i>* Note: You cannot add users with the same name.</i></h4>
      </div>
    </mat-card>
    <div class="image mat-elevation-z6">
      <img src="assets/images/add-users-form.png" alt="How to add a user" />
    </div>
  </section>
  <section class="wallets-intro">
    <div class="title">
      <hr><h1>Step 2 ( <b class="accent">Fund Wallets</b> )</h1><hr>
    </div>
    <mat-card class="instructions">
      <div class="text mat-app-background">
        <h4>Now that we have our users made we need to <a href="#/wallets">fund wallets</a> with cash. Add a currency and an amount for each user created earlier.
        In the real world this would be the equivalent to withdrawling funds from your bank and into the exchange you've registered with. </h4>
        <br>
        <h4 class="dim"><i>* Note: The max amount for a currency is 9999.</i></h4>
      </div>
    </mat-card>
    <div class="image">
      <img src="assets/images/add-wallets-form.png" alt="How to fund a wallet" />
    </div>
  </section>
  <section class="trades-intro">
    <div class="title">
      <hr><h1>Step 3 ( <b class="accent">Start Trading</b> )</h1><hr>
    </div>
    <mat-card class="instructions">
      <div class="text mat-app-background">
        <h4>All of our users wallets have been funded now we can start <a href="#/exchange">executing trades</a> with other users.
        A Real life scenario would be the equivilant of making a trade order on the exchange we just funded in step 2.</h4>
        <br>
        <h4 class="dim"><i>* Note: Users can not trade with themself and can only trade with currency they own.</i></h4>
      </div>
    </mat-card>
    <div class="image">
      <img src="assets/images/add-trade-form.png" alt="How to make a trade" />
    </div>
  </section>
  <section class="blockchain-info">
    <div class="title">
      <hr><h1>Step 4 ( <b class="accent">Inspect Blockchain</b> )</h1><hr>
    </div>
    <mat-card class="instructions">
      <div class="text mat-app-background">
        <h4>Head on over to the <a href="#/blockchain">Blockchain</a> page to see how the transactions like adding a user, funding a wallet, 
        and trading with other users gets recorded on the blockchain. Also take note of the block hashes and see how they correspond with one another.
        Their are public websites which enable us to see live transactions and blocks: <a target="_blank" href="https://www.blockchain.com/explorer">Blockchain Explorer</a>
        or <a target="_blank" href="https://live.blockcypher.com/btc/">Block Cypher</a>.</h4>
        <br>
        <h4 class="dim"><i>* Note: If a transaction on the blockchain changes it will invalidate the state of the block and will be void.</i></h4>
      </div>
    </mat-card>
    <div class="image">
      <img src="assets/images/blockchain-list.png" alt="The list of blocks in the blockchain" />
    </div>
  </section>
</section>